In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
df = pd.read_csv('data/Mouse_metadata.csv')
df.set_index('Mouse ID', inplace=True)

In [49]:
s = set(df.index.values)

In [58]:
d = pd.DataFrame( )
d['M_ID'] = list(s) 
d['M_VAL'] = np.random.randint(low=1, high=100, size=len(s) )
d.sort_values('M_ID', inplace=True)
d.set_index('M_ID', inplace=True)
d

      M_VAL
M_ID
a203      1
a251     86
a262     19
a275     46
a366     67
...     ...
z435     48
z578     29
z581     31
z795     98
z969     61

[249 rows x 1 columns]

In [59]:
d.loc['a203']

M_VAL    1
Name: a203, dtype: int32

In [60]:
df = pd.read_csv('data/Mouse_metadata.csv')
df

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [72]:
df = pd.read_csv('data/Mouse_metadata.csv')
df.set_index('Mouse ID', inplace=True)
df1 = df.stack()
df1.head(10)

Mouse ID
k403      Drug Regimen     Ramicane
          Sex                  Male
          Age_months             21
          Weight (g)             16
s185      Drug Regimen    Capomulin
          Sex                Female
          Age_months              3
          Weight (g)             17
x401      Drug Regimen    Capomulin
          Sex                Female
dtype: object

In [97]:
df = pd.read_csv('data/Mouse_metadata.csv')
Age_months = pd.Series(df['Age_months'])

0         21
1          3
2         16
3         22
4         11
       ...
245       12
246       24
247       13
248        9
0      10000
Length: 250, dtype: int64

0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64